<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">
  <Identity Name="com.kah.skribe" Publisher="CN=kah" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Skribe</DisplayName>
    <PublisherDisplayName>kah</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.22621.0" />
  </Dependencies>
  <Resources>
    <Resource Language="pt-BR" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="Skribe.exe" EntryPoint="Skribe.App">
      <uap:VisualElements DisplayName="Skribe" Description="Transcrição local de reuniões com diarização"
                          Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png"
                          BackgroundColor="#1A1A1A">
        <uap:DefaultTile ShortName="Skribe" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="microphone" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
